.aboutme {
    & .container {
        display: flex;
        gap: 50px;
        & .image {
            margin-top: 90px;
            border: 3px solid black;
            border-radius: 10px;
        }
        & .text-content {
            & h3 {
                font-size: 48px;
                font-weight: 400;
            }
            & span {
                font-weight: 800;
            }
            & p {
                color: #71717A;
            }
        }
    }
}