.myexperience {
    background-color: black;
}
.container {
    padding-bottom: 100px;
    & .Myexph2 {
        color: white;
    }
    & .article-wrapper {
        background-color: black;
        & article {
            border: 1px solid #71717A;
            border-radius: 10px;
            margin-bottom: 2rem;
            padding: 30px 24px;
            transition-duration: 0.3s;
            &:hover {
                background-color: rgba(39, 39, 42, 1);
            }
            & h3 {
                color: white;
            }
            & p {
                color: rgba(212, 212, 216, 1);
            }
            & .article-header {
            margin-bottom: 28px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > div {
                display: flex;
                align-items: center;
                gap: 30px;

            }
        }
        }
    }
}