
& ul {
    list-style-type: none;
}
.hero-wrapper {
    display: flex;
}
.social-media-wrapper { 
    display: flex;
    gap: 32px;
    padding-top: 100px;
    
}
.text-content,.img-content {
    width: 50%;
    padding-top: 60px;
}
.text-content {
    padding-top: 100px;
    width: 600px;
    & h1 {
        font-size: 48px;
        line-height: 1.5;
    }
    & p {
        padding-top: 30px;
        color: var(--secondary-color);
    }
}