.my-projects {
    & .crypto {
        & .title {
            & h2 {
                color: white;
            }
            & .photo {
                & img {
                    width: 530px;
                    height: 397px;
                }
            }
        }
    }
}