body {
    font-family: sans-serif;
}


.header-wrapper {
    & .download {
        width: 85px;
        height: 24px;
    }
    padding: 24px 0 24px 0; 
    & .logo {
        display: flex;
        align-items: center;
        font-size: 20px;
        & img {
            width: 40px;
            height: 40px;
        }
    }
    display: flex;
    justify-content: space-between;
    & nav {
        & ul {
           display: flex;
           list-style-type: none;
           gap: 32px;
           & a {
            text-decoration: none;
            color: var(--primary-color);
            font-size: 20px;

           }
        }
    }
}
