.container {
    margin-bottom: 100px;
    h2 {
        color: black;
    }
    h2 {
        padding: 70px 0 60px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 48px;
        font-weight: 400;
        & span {
            font-weight: 800;
        }
    }
    & .skills-wrapper {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        & img {
            transition-duration: 0.3s;
           &:hover {
            filter: invert(100%);

           } 
        }
    }
   
}